h1 {
  text-align: center;
  color: cornflowerblue;
}

main {
  text-align: center;
}
img {
  width: 450px;
}

form {
  /* border: 2px solid red; */
  padding: 20px;
}

label {
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
}

input {
  margin-left: 10px;
}

.form-control {
  /* width: 500px; */
}

.newSubBtn {
  margin-top: 10px;
}

button {
  margin-left: 10px;
}
